.form-student{
    background-color: #7C55A0;
    color: #fff;
}
.btn-add{
    background-color: #fff;
    color: #7C55A0;
    border: 1.5px #7C55A0 solid;
}
.btn-add:hover{
    background-color: #7C55A0;
    color: #fff;
    border: 1.5px #fff solid;
}